<div class="responsive-margins-lg">

  <h1>Mes voyages</h1>

  <p>J'ai eu la chance de pouvoir partir en voyage à l'âge de 19 ans dans une dizaine de pays. J'ai énormément appris et développer mon côté social. J'ai aussi voyagé en Turquie pour le marriage de mon frère et ma copine m'a fait visité sa région natale: Tahiti.</p>

  <%= render partial: "trips/thailand" %>

</div>
