<div>
  <h3 style='font-size: 1.2em'><%= link_to label, url %></h3>
  <div style="height: 500px; width: 350px;">
    <div class="tablet" style="transform: scale(0.6); transform-origin: 0 0">
      <div class='content' style="width: 360px; height: 640px;">
        <iframe src="<%= url %>" style="width: 100%; border: 1px solid black; height: 100%"></iframe>
      </div>
    </div>
  </div>
</div>
