<p style='background-color: yellow; border: 2px solid black; border-radius: 5px; margin: 2em 2em 0 2em; padding: 0.5em;'><b>Note: The translation is not done yet. This page is only in french for now.</b></p>
