<br/>

<div class="responsive-margins-lg">

  <h1><%= tr(:contact_title) %></h1>
  
  <p><%= tr(:contact_text) %></p>
  
  <%= image_tag '/email.png', width: '280' %>
  <button class="btn btn-primary" onclick="navigator.clipboard.writeText('pascal.rainville@gmail.com')"><%= tr(:btn_copy) %></button>

</div>
