<%= image_tag '/kuka_2.jpg', width: '100%' %>

<br><br>

<div class="responsive-margins-lg">
  <%= render partial: "projects/robotic_arm" %>
  
  <div class="section">
    <div class="d-md-flex gap-30">
      <div class="mb-2" style="order: 1;">
        <%= image_tag '/kuka_cell.jpg', width: '600' %>
      </div>
      <div style="flex-shrink: 2; flex-grow: 1;">
        <h2>Expérience: Cellule robotisée Kuka</h2>
        <p></p>
      </div>
    </div>
  </div>

  <%= render partial: "home/employed_by" %>
</div>
