<div class="section d-md-flex gap-30">
  <%= image_tag '/divan.jpg', width: '500', style: 'border: 1px solid #bbb;' %>
  <div>
    <h2>Projet: Restaurer le divan</h2>
    <p>Le tissu en faux cuir était en train de s'émietter. J'ai tout enlevé le tissu des coussins et j'ai recousu des nouveaux avec du tissu neuf.</p>
    <p>Il y avait 3 coussins de dossiers, 2 petit coussins pour s'asseoir et 1 grand coussin pour s'asseoir. J'ai tout décousu les tissus de chacune des sortes. J'ai ensuite découpé des morceaux dans le tissus neuf de la même taille que le gabarit. J'ai ensuite cousu les housses. C'est quand même long, mais ça se fait super bien!</p>
    <p>Il reste maintenant le tissu de la partie rigide a changé, mais je n'ai pas encore trouvé de tissu que me convenait pour cela.</p>
    <%# link_to "En savoir plus...", chuck_laser_path, class: "know-more" %>
  </div>
</div>
