<div class="section d-md-flex gap-30">
  <%= image_tag '/closed_cupboard.jpg', style: 'max-height: 800px; border: 1px solid #555;' %>
  <div>
    <h2>Projet: Armoire de cuisine</h2>
    <p>Une armoire spacieuse en contreplaqué d'érable. Rangement sur les portes de l'armoire pour un accès rapide. Tablettes dans le fond seulement pour bien voir ce qu'il y a en inventaire.</p>
    <%= link_to "En savoir plus...", cupboard_path, class: "know-more" %>
  </div>
</div>
