<div class="section d-md-flex gap-30">
  <%= image_tag '/jar_label.jpg', width: '400' %>
  <div>
    <h2>Projet: Étiquettes intelligentes</h2>
    <p>J'ai créer une sorte d'étiquette spécialement conçu pour être lisible par une intelligence artificielle et par un humain (contrairement aux codes QR).</p>
    <p>L'étiquette est délimitée d'un cercle, et contient deux points de référence. Cela permet de déterminer l'orientation. Ainsi, le logiciel de lecture tourne l'image pour que le texte soit dans le bon sens. Ensuite, le logiciel utilise une librairie de reconnaissance optique de caractères afin de lire le texte.</p>
    <p><b>État actuel:</b> J'ai créer un mini logiciel pour créer des étiquettes dynamiquement qui fonctionne bien. Pour la lecture, il reste encore beaucoup de travail à faire. Le logiciel de lecture est capricieux pour l'éclairage. Il détecte correctement à peu près 70% du temps.</p>
  </div>
</div>
