<div class="section d-md-flex gap-30">
  <%= image_tag '/admin_website.jpg', width: '500', style: 'border: 1px solid #555;' %>
  <div>
    <h2>Projet: Site web d'administration</h2>
    <p>J'ai appris beaucoup de chose en administration lorsque j'ai suivi le cours «Lancement d'une entreprise». Pour les mettre en pratique, je me suis fait un petit site internet pour gérer l'administration de mon projet.</p>
    <p>Les pages sont:</p>
    <ul>
      <li>Factures: Toutes les factures pour les items achetés</li>
      <li>Pièces: La liste de tous les biens qui sont ou ont déjà été utilisé</li>
      <li>Fournisseurs: La liste de tous les fournisseurs</li>
      <li>Commandes: Une liste temporaire des biens ou services à acheter</li>
      <li>Rapprochement bancaire, Bilan, États financiers: (Pas encore implémenté)</li>
    </ul>
    <%# Le code source du site web d'administration se retrouve dans le repository admin. %>
    <%# La base de donnée est gardée localement. Une copie est copié de temps en temps manuellement sur Dropbox. %>
  </div>
</div>
