<div class="section d-md-flex gap-30">
  <%= image_tag '/mattress_pump_02.jpg', width: '400', style: 'border: 1px solid #555;' %>
  <div>
    <h2>Projet: Pompe pour matelas gonflable</h2>
    <p>Un matelas gonflable qui se dégonfle pendant la nuit c'est un classique et c'est tellement désagréable. J'ai essayé de le patché, mais je n'ai pas réussit. Je ne voulait pas non plus acheté un autre matelas et mettre le mien à la poubelle.</p>
    <p>Alors, j'ai acheté une petite pompe d'aquarium pour qu'elle pompe de l'air toute la nuit quand le matelas se dégonfle. La pompe n'est pas très bruyante et suffit largement pour gonfler, même trop. J'ai donc conçu un interrupteur de pression pour arrêter la pompe de fonctionner lorsque la pression est trop élevé.</p>
    <%= link_to "En savoir plus...", mattress_pump_path, class: "know-more" %>
  </div>
</div>
