<div class="section d-md-flex gap-30">
  <%= image_tag '/screenshot_app.jpg', width: '500', style: 'border: 10px solid #555;' %>
  <div>
    <h2>Projet: Application recettes personalisées</h2>
    <p>L'objectif de cette application est de résoudre le problème de ne pas savoir quoi cuisiner. Les recettes sont étiquettées de manière à trouver la réponse à cette question pour toutes les occasions.</p>
    <p>Personnellement, je classe mes recettes selons ces catégories:</p>
    <ul>
      <li>Recette rapide (pour un soir de semaine quand je n'ai pas beaucoup le temps de cuisiner)</li>
      <li>Pour la semaine (pour cuisiner des grandes quantités le dimanche pour la semaine)</li>
      <li>Romantique (pour des recettes un peu plus fancy et pas trop salissante!)</li>
      <li>Potluck (pour des recettes qui se partagent bien et qui peuvent se manger sans ustensiles)</li>
      <li>BBQ (pour mes recettes végés sur le BBQ pour accompagner ma copine carnivore)</li>
      <li>Picnic (pour avoir des idées de quoi emporter en picnic)</li>
      <li>Et bien d'autres...</li>
    </ul>
  </div>
</div>
