<div class="section d-md-flex gap-30">
  <%= image_tag '/screenshot_sim.jpg', width: '600', style: 'border: 1px solid black;' %>
  <div>
    <h2>Projet: Simulation d'un bras robotique robot</h2>
    <p></p>
  </div>
</div>
