@font-face {
  font-family: IndieFlower;
  src: url(fonts/IndieFlower-Regular.ttf);
}

@media screen and (min-width: 400px) {
  .d-xsm-inline {display: inline !important;}
}

.timeline {
  font-size: 1.4em;
}
.timeline-start {
  background-color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: auto;
}
.timeline-line {
  position: absolute;
  background-color: black;
  left: calc(50% - 4px);
  height: 100%;
  width: 8px;
}
.timeline-item-left, .timeline-item-right {
  position: relative;
  height: 10em;
  width: 100%;
}
.timeline-desc {
  position: absolute;
  width: fit-content;
  max-width: min(35vw, 250px);
  padding: 1em 0;
  left: 60%;
  top: -80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline-item-left .timeline-desc {
  left: auto;
  right: 60%;
}
.timeline-dash {
  position: absolute;
  left: calc(50% + 4px);
  top: 2em;
  background-color: black;
  width: 12px;
  height: 6px;
}
.timeline-item-left .timeline-dash {
  left: calc(50% - 16px);
}

h2 {
  margin-bottom: 0.8em;
}

#home h2 {
  margin-top: 2em;
}

.logos {
  animation: infiniteloop 15s linear infinite;
  white-space: nowrap;
  font-size: 0;
}
.logos img {
  width: 240px;
}

@keyframes infiniteloop {
  from {transform: translateX(0); width: 100%;}
  to {transform: translateX(calc(6 * -240px)); width: 200%;}
}
@keyframes infiniteloopLoop {
  from {left: 100%;}
  to {left: 0;}
}

.section {
  align-items: flex-start;
  padding-top: 4em;
  padding-bottom: 4em;
}
.section:nth-child(even) {
  background-color: #f7f5ff;
  margin-left: -12.125vw;
  margin-right: -12.125vw;
  padding-left: 12.125vw;
  padding-right: 12.125vw;
}
.section:nth-child(even) > *:first-child {
  order: 1;
  margin-right: 0px;
}
.section > *:first-child {
  margin-bottom: 8px;
}
.section:nth-child(even) > *:nth-child(2) {
  flex-shrink: 2;
  flex-grow: 1;
  margin-right: 30px;
}

.gap-30 > * {margin-right: 30px;} .gap-30 > *:last-child {margin-right: 0px;}

.responsive-margins-lg {
  height: 100%;
  margin: auto;
  width: 75.75%;
}

.trip img {
  display: block;
  margin-bottom: 1em;
}

img, video {
  max-width: 100%;
}


// (xs) — screen width < 576px (This is the “default” tier)
// sm — screen width ≥ 576px
// md — screen width ≥ 768px
// lg — screen width ≥ 992px
// xl — screen width ≥ 1200px

@media screen and (max-width: 1200px) {
  .responsive-margins-lg {
    width: 97%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .section:nth-child(even) {
    background-color: #f7f5ff;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
@media screen and (max-width: 992px) {
  #root {
    font-size: 0.8em;
  }
}


/* https://www.w3schools.com/howto/howto_css_devices.asp */
/* The device with borders */
.tablet {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-sizing: content-box;
}

/* The horizontal line on the top of the device */
.tablet:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.tablet:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.tablet .content {
  width: 768px;
  height: 1024px;
  background: white;
  margin: -1px;
}

.clickable {
  cursor: pointer;
}