body {
  margin: 0;
}

.gap-30 > * {margin-right: 30px;} .gap-30:last-child {margin-right: 0px;}

.responsive-margins-lg {
  height: 100%;
  margin: auto;
  width: 75.75%;
}

img {
  max-width: 100vw;
}

@media screen and (max-width: 1200px) {
  .responsive-margins-lg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


